/*

 My Custom CSS
 =============

 Author:  Eduard Emandii
 Updated: October 2014
 Notes:	 Airone

 */

/* --------------------------------------
 Fonts
 -------------------------------------- */

@font-face {
    font-family: DINRegular;
    src: url(../css/fonts/dinregularwebfont/dinregularwebfont.eot);
    src: url(../css/fonts/dinregularwebfont/dinregularwebfont.woff);
    src: url(../css/fonts/dinregularwebfont/dinregularwebfont.ttf);

}

@font-face {
    font-family: DINMedium;
    src: url(../css/fonts/DINMedium/DINMedium.ttf);
}

@font-face {
    font-family: DINProMedium;
    src: url(../css/fonts/DINProMedium/din_pro_medium.woff);
}

/* --------------------------------------
Layout
-------------------------------------- */

html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    width: 100%;
    border: 0;
    /*outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    vertical-align: baseline;*/

}

body {
    margin: 0;
    padding: 0;
    background: #1E2020;
    color: #fff;
    height: 100%;
    width: 100%;

    /*overflow: hidden;*/
    /*font:13px Helvetica,  Arial,  sans-serif*/
}

.BodyBg {
    /*width: 100%;*/
    /*background-color: #333333;*/
    background-color: #1E2020;
}

.body-with-img {
    background-image: url("../images/about.jpg");
}

.imgBodyBg {
    width: 100%;
    float: left;
}

.wrap {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    height: 100%;
    width: 100%;

    /*border: 20px solid forestgreen;*/
}

#header {
    z-index: 200;
    float: left;
    position: absolute;
    height: 120px;
    padding: 15px 0;
    min-width: 100%;
    -webkit-box-shadow: 0px 23px 37px -12px rgba(0, 0, 0, 0.62);
    -moz-box-shadow: 0px 23px 37px -12px rgba(0, 0, 0, 0.62);
    box-shadow: 0px 23px 37px -12px rgba(0, 0, 0, 0.62);
    background: rgba(26, 26, 26, 0.8);
}

/*#header*/
.logo {
    float: left;
    width: 100px;
    margin-top: 28px;
    margin-left: 60px;
}

#header nav {
    position: absolute;
    float: left;
    /*height:24px;*/
    max-width: 900px;
    margin-top: 48px;
    margin-left: 285px;
    /*border: 1px solid #ffff00;*/
}

#header nav ul {
    /*margin: 0;*/
    margin: 0;
    /*border: 1px solid #ffffff;*/
}

#header nav li {
    display: inline-block;
    margin: 0;
    text-decoration: none;
    text-align: center;
    color: #57787F;
    font-size: 20px;
    height: 34px;
    /*border: 1px solid #ffff00;*/
}

#header nav li a {
    text-decoration: none;
    color: #57787F;
    display: inline-block;
    font-family: 'DINRegular';
    font-size: 20px;
}

#header nav li a:hover {
    text-decoration: none;
    font-weight: bold;
    color: #4DC7E9;
    font-size: 20px;
}

#header nav li a.active {
    text-decoration: none;
    color: #4DC7E9;
    font-size: 20px;
}

#header .btn_social {
    position: relative;
    width: 100px;
    margin: 48px 20px 0 1185px;
}

/*-------------------------------Second Menu-------------------------------------------------*/

.sidebar {
    display: table;
    margin-left: 100px;
    padding-top: 165px;
    float: left;
    width: 195px;
    height: 200px;
    position: relative;
    background: none;
    /*color: #989898;*/
    /*margin-top: 145px;*/
}

.sidebar ul {
    vertical-align: middle;
    margin: 0;
    padding: 0;
    margin-left: -40px;
    list-style: none;
    /*padding: 20px 0 0 0;*/
    /*display: table-cell;*/
}

.sidebar li {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 40px;
    text-decoration: none;
    color: #57787F;
    font-size: 14px;
}

.sidebar li a {
    font-family: 'DINRegular';
    text-decoration: none;
    color: #57787F;
}

.sidebar li a:hover {
    text-decoration: none;
    font-weight: bold;
    color: #4DC7E9;
    /*font-size:14pt;*/
    /*font-family: 'DINMedium';*/
}

.currentLink {
    text-decoration: none;
    font-weight: bold;
    color: #4DC7E9 !important;
}

.currentLinks {
    text-decoration: none;
    font-weight: bold;
    color: #4DC7E9 !important;
}

.sidebar hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #57787F;
    margin: 0;
    padding: 0;
}

.login {
    display: none;
}

.btn-login:hover > .login {
    display: block;
}

/*--------------------------End of Second Menu----------------------------------------------*/
/*-------------------------- Modal Login ----------------------------------------------------*/
.deak-modal-user-login .modal-content {
    background: rgba(26,26,26,0.9);
}
.deak-modal-user-login .modal-body {
    margin-top: 150px;
    padding-bottom: 0;
}
.deak-modal-user-login .modal-header {
    border-bottom-width: 0;
}
.deak-modal-user-login #loading2 {
    display: none;
    margin:auto;
}
.deak-modal-user-login .feedbak-container {
    display: none;
    height: 40px;
}
.deak-modal-user-login .proiect-id-label {
    padding-left: 15px;
    color: #4DC7E9;
    font-size: 20px;
    line-height: 20px;
    font-weight: normal;
    font-family: 'DINRegular';
    text-align: left;
}
.deak-modal-user-login .proiect-id-input {
    border: 1px solid #4DC7E9;
    color: #4DC7E9;
    font-family: 'DINRegular';
    background-color: transparent;
    border-radius: 0;
    width: 510px;
    margin-left: 15px;
}
.deak-modal-user-login .password-label {
    padding-left: 15px;
    color: #4DC7E9;
    font-size: 20px;
    line-height: 20px;
    font-weight: normal;
    font-family: 'DINRegular';
    text-align: left;
}
.deak-modal-user-login .password-input{
    border: 1px solid #4DC7E9;
    color: #4DC7E9;
    font-family: 'DINRegular';
    background-color: transparent;
    border-radius: 0;
    width: 510px;
    margin-left: 15px;
}
.deak-modal-user-login .modal-footer{
    border-top-width: 0;
    padding:0 20px 20px;
    margin-top:-15px;
    margin-right: 15px;
}
.deak-modal-user-login .modal-footer button {
    font-family: 'DINRegular';
    color: #4DC7E9;
    font-size: 20px;
    padding: 3px 30px 3px 30px;
    background-color: transparent;
    border: 1px solid #4DC7E9;
    border-top: 0;
    border-radius: 0;
}
/*------------------------- / Modal Login ----------------------------------------------------*/
/*--------------------------First Page SlideShow-------------------------------------------*/
#slider {
    position: relative;
    width: 100%;
}

#slider img {
    transition: opacity 1.5s;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
}

#slider img.fadeIn {
    opacity: 1;
    width: 100%;
}

/*--------------------------End of First Page SlideShow-------------------------------------------*/

#content {
    /*padding:15px 30px 15px 30px;
    clear:both;*/
    position: absolute;
    /*border: 1px solid yellow;*/
    float: left;
    margin: 0 0 200px 0;
    width: 100%;
    height: 100%;
}

.col-pr {
    position: relative;
    float: none;
    /*width: 770px;*/
    /*height: 650px*/;
    overflow: auto;
    background: none;
    display: block;
    color: #989898;
    padding-left: 47px;
    /*margin: 145px 0 0 40px;*/
    font-size: 14px;
    /*height: -webkit-calc(100% - 300px);
   height: calc(100% - 300px);*/
    /*border: 1px solid green;*/
    padding-top: 165px;
}

.innerCol {
    /*position: relative;
   float: left;
   clear: left;*/
    width: 800px;
    /*display: block;*/
    font-family: 'DINRegular';
    font-size: 14px;
    color: #989898;
}

.portofoliu {
    position: absolute;
    /*background: blue;*/
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /*border: 1px solid magenta;*/
}

.portofoliuTop {
    position: relative;
    display: block;
    float: left;
    left: 0;
    width: 100%;

    height: auto;
    margin-bottom: 40px;
    /*height: 400px;*/
    /*border: 1px solid red;*/
    /*top: -145px;*/
}

.portofoliuTop img {
    width: 100%;
}

#portofoliuTitle {
    display: inline-block;
    position: fixed;
    left: 60px;
    top: 250px;
    width: 520px;
    height: 50px;
    line-height: 50px;
    background: #222222;
    z-index: 100;
    color: #4DC7E9;
    font-family: 'DINMedium';
    font-size: /*26px*/ 20px;
    vertical-align: middle;
    padding-left: /*80*/ 50px;
}

.portofoliuTitleStick {
    position: fixed;
    top: 0;
}

.portofoliuLeft {
    display: block;
    position: relative;
    float: left;
    /*width: 50%;*/
    /*height: 200px;*/
    margin: 0;
    /*min-height: 600px;*/
    /*height: 400px;*/
    /*top: -145px;*/
    /*background: yellow;*/
    /*border: 1px solid yellow;*/
}

.portofoliuRight {
    clear: right;
}

.portofoliuLeft span {
    font-size: /*24px*/ 20px;
    font-family: 'DINRegular';
    color: #4DC7E9;
    margin-left: 30px;
}

.portofoliuLeft p {
    font-size: 14px;
    font-family: 'Myriad Pro';
    color: #989898;
    display: block;
    margin-left: 30px;
    margin-right: 20px;
    /*padding: 10px;*/
    /*margin: 0 30px 0 30px;*/
}

.portofoliuRight {
    display: block;
    position: relative;

    float: right;
    /*width: 50%;*/
    /*height: 200px;*/
    margin: 0;

    /*min-height: 400px;*/
    /*top: -145px;*/
    /*background: blue;*/
    /*border: 1px solid #ffff00;*/
}

.portofoliuRight span {
    font-size: /*24px*/ 20px;
    font-family: 'DINRegular';
    color: #4DC7E9;
    margin-left: 30px
}

.portofoliuRight p {
    font-size: 14px;
    font-family: 'Myriad Pro';
    color: #989898;
    display: block;
    margin-left: 0;
    margin-right: 30px;
    padding-bottom: 20px;
    /*padding: 10px;*/
    /*margin: 0 30px 0 30px;*/
}

.column1 {
    margin: 45px 0 0 0;
    float: left;
    width: 225px;
    position: relative;
    background: none;
    color: #989898;
    font-size: 16px;
}

.column1 p {
    color: #6A6A6A;
}

.column2 {
    float: left;
    width: 450px;
    position: relative;
    background: none;
    display: block;
    color: #989898;
    font-size: 14px;
    margin: 40px 0 0 20px;
    font-family: 'Trebuchet MS';
}

.column2 p {
    color: #6A6A6A;
}

.column3 {
    float: left;
    width: 280px;
    position: relative;
    background: #B55412;
    background: none;
    color: #989898;
    font-size: 10px;
    margin: 190px 0 0 20px;
}

.column3 p {
    color: #6A6A6A;
}

.column4 {
    float: left;
    width: 350px;
    position: relative;
    background: #B55412;
    background: none;
    color: #989898;
    font-size: 10px;
    margin: 230px 0 0 20px;
}

.column4 p {
    color: #6A6A6A;
}

.project {
    width: 770px;
    height: 469px;
    margin: 0 0 100px 0;

}

.project01 {
    width: 770px;
    height: 469px;
    margin: 0 0 100px 0;

}

.project .project_name {
    position: relative;
    /*display: block;*/
    bottom: -10px;

    color: #4DC7E9;
    font-size: 20px;
    font-family: 'DINMedium' !important;
}

.project :hover {
    text-decoration: underline;
    color: #4DC7E9;
    cursor: url("../images/zoom1.ico"), auto;

}

.project .project_name:hover {
    text-decoration: underline;

}

.tmb_project {
    width: 770px;
    height: 469px;
    -khtml-border-radius: 0 0 270px 0;
    -webkit-border-radius: 0 0 270px 0;
    -moz-border-radius: 0 0 270px 0;
    border-radius: 0 0 270px 0;
    behavior: url(css/pie.htc);
}

.lazy {
    width: 770px;
    height: 469px;
    -khtml-border-radius: 0 0 270px 0;
    -webkit-border-radius: 0 0 270px 0;
    -moz-border-radius: 0 0 270px 0;
    border-radius: 0 0 270px 0;
    behavior: url(css/pie.htc);
}

ul.img-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*text-align: center;*/
}

ul.img-list li {
    display: inline-block;
    height: 146px;
    margin: 0;
    position: relative;
    width: 770px;
    -khtml-border-radius: 0 0 90px 0;
    -webkit-border-radius: 0 0 90px 0;
    -moz-border-radius: 0 0 90px 0;
    border-radius: 0 0 90px 0;
    behavior: url(css/pie.htc);
}

span.text-content {
    font-size: 16px;
    font-family: 'DINMedium' !important;
    color: #414041;
    cursor: pointer;
    display: table;
    height: 146px;
    left: 0;
    position: absolute;
    top: 0;
    width: 240px;
    opacity: 0;
    -khtml-border-radius: 0 0 90px 0;
    -webkit-border-radius: 0 0 90px 0;
    -moz-border-radius: 0 0 90px 0;
    border-radius: 0 0 90px 0;
    behavior: url(css/pie.htc);
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
    /*background: rgba(0,0,0,0.5);*/
}

ul.img-list li:hover span.text-content {
    opacity: 1;
}

span.text-content span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.li-despre {
    width: 105px;
    text-align: center;
}

.li-portofoliu {
    width: 157px;
    text-align: center;
}

.li-constructii {
    width: 165px;
    text-align: center;
}

.li-info-proiectare {
    width: 220px;
    text-align: center;
}

.li-contact {
    width: 120px;
    text-align: center;
    cursor: pointer;
}

.li-contact .btn-link {
    text-decoration: none;
    color: #57787F;
    display: inline-block;
    font-family: 'DINRegular';
    font-size: 20px;
    outline: 0;
}

/*-----------En Scroll------------------------*/

.track3 {
    position: absolute;
    z-index: 10000;
    width: 0px;
    background: rgba(0, 0, 0, 0);
    right: 0px;
    border-radius: 10px;
    -webkit-transition: background 250ms linear;
    transition: background 250ms linear;
}

.portofoliu .track3 {
    position: absolute;
    z-index: 10000;
    width: 0px;
    background: rgba(0, 0, 0, 0);
    right: 10px;
    border-radius: 10px;
    -webkit-transition: background 250ms linear;
    transition: background 250ms linear;
}

.track3:hover,
.col-pr .track3.dragging {
    background: #d9d9d9; /* Browsers without rgba support */
    background: rgba(0, 0, 0, 0.15);
}

.handle3 {
    width: 7px;
    right: 0;
    background: #999;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 7px;
    -webkit-transition: width 250ms;
    transition: width 250ms;
}

.track3:hover .handle3,
.track3.dragging .handle3 {
    width: 10px;
}

/*-----------------Slick----------------------------*/

.portofoliu-top-image {
    margin: 0;

}

#portofoliu-slider-interior {
    margin: 20px 0 60px 0;
}

#slider-client {
    margin: 20px 0 60px 0;
}

#portofoliu-slider-exterior {
    margin: 20px 0 60px 0;
    /*padding-left: 10px;*/
}

.slick-prev {
    left: 0;
    display: block;
    background: url(../images/left_small2.png) no-repeat 0px 0px;
    height: 101px;
    width: 53px;
    box-shadow: none;
    margin: 0;
    margin-top: -40px;

}

#portofoliu-slider-exterior .slick-prev {
    /*left: 10px;*/
}

.slick-prev:before {
    content: "";
}

.slick-next {
    right: 0;
    display: block;
    background: url(../images/right_small2.png) no-repeat 0px 0px;
    height: 101px;
    width: 53px;
    box-shadow: none;
    /* margin: -0.3px;*/
    margin-top: -40px;

}

.slick-next:before {
    content: "";
}

li.slick-active div {
    border: 1px solid #4DC7E9 !important;
    background: #4DC7E9;
}

.slick-dots {
    text-align: left;
    bottom: -55px;
    left: -5px;
}

#portofoliu-slider-interior .slick-dots {
    margin-left: 40px;
}

#slider-client .slick-dots {
    margin-left: 10px;
}

.col-fullscreen {
    background: none;
    color: #989898;
    font-size: 10px;
    font-size: 16px;
}

#slickFullscreenLeft1 {

    z-index: 10000;

}

#slickFullscreenLeft .slick-slide img {
    margin: auto;
}

#slickFullscreenLeft .slick-slide {
}

#slickFullscreenLeft .slick-prev {
    display: block;
    position: absolute;
    background: url(../images/slick-left.png) no-repeat;
    height: 29px;
    width: 28px;
    box-shadow: none;
    top: auto !important;
    bottom: 25px;
    z-index: 1000;
}

#slickFullscreenLeft .slick-prev:before {
    content: "";
}

#slickFullscreenLeft .slick-next {
    right: 0;
    display: block;
    background: url(../images/slick-right.png) no-repeat;
    height: 29px;
    width: 28px;
    box-shadow: none;
    bottom: 26px;
    top: auto !important;

}

#slickFullscreenLeft .slick-next:before {
    content: "";
}

#slickFullscreenLeft .slick-dots {
    text-align: center;
    bottom: -45px;
}

.scaling-image {
    height: -webkit-calc(100% - 100px);
    height: calc(100% - 100px);
}

/*------------------------Modal Window-----------*/
button.close {
    background: url(../images/close.png) no-repeat !important;
    width: 27px;
    height: 28px;
    opacity: 1;
}

.modal-content {
    border-radius: 0;
    -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
    border: 0;
}

.documents {
    display: block;
    position: relative;
    float: left;
    width: 770px;
    /*height: 200px;*/
    margin: 0 0 50px 0;
    /*min-height: 600px;*/
    /*height: 400px;*/
    /*top: -145px;*/
    /*background: yellow;*/
    /*border: 1px solid yellow;*/
}

.documents .pdf-title {
    font-size: /*24px*/ 20px;
    font-family: 'DINRegular';
    color: #4DC7E9;
    float: left;
    margin-bottom: 20px;
}

.documents span {
    font-size: /*24px*/ 20px;
    font-family: 'DINRegular';
    color: #4DC7E9;

}

a.pdf_documents {
    position: relative;
    /*margin-left: 10px;*/
    background: url(../images/pdf.png) left center no-repeat;
    /*text-decoration: none;*/
    padding: 30px 0 30px 68px;
    top: 15px;
    font-size: 20px;
    height: 190px;
    /*border: 1px solid green;*/
    font-family: 'DINRegular';
    color: #4DC7E9;
}

a.pdf_documents p {
    position: absolute;
    left: 21px;
    top: 33px;
    font-size: 19px;
    font-family: 'DINRegular';
    color: #323232;
    font-weight: bold;

}