@font-face {
	font-family: 'DINMedium';
	src: url('./DINMedium.eot');
	src: local('DINMedium'), url('./DINMedium.woff') format('woff'), url('./DINMedium.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_6179">Text with this font applied</p> */
.fontsforweb_fontid_6179 {
	font-family: 'DINMedium' !important;
}

/* Font downloaded from FontsForWeb.com */